/* #749479 #42926d 

alternative: #44bba4

Primary: */

:root {
  --color: #3c6e71;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  line-height: 1;
  font-size: 1.8rem;
  color: #555;
}

.heading-primary {
  color: #ecf1f1;
}

.heading-secondary {
  color: #3c6e71;
  margin-bottom: 2rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.margin-top-sm {
  margin-top: 1.2rem;
}

.sticky {
  position: fixed;
  z-index: 5;
  top: 5%;
  padding-left: 2rem;
  position: -webkit-sticky;
  position: sticky;
  height: 0;
}

.icon-small {
  height: 2rem;
  width: 2rem;
}

.information {
  color: #666;
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
  justify-content: left;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 4.8rem 3.2rem 9.6rem 3.2rem;
  background-color: #3c6e71;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav-links {
  display: flex;
  gap: 3.2rem;
  letter-spacing: 0;
  list-style: none;
}

.main-nav-links a:link,
.main-nav-links a:visited {
  text-decoration: none;
  color: #ecf1f1;
  transition: all 0.4s;
}

.main-nav-links a:hover,
.main-nav-links a:active {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.2rem;
}
/****************************/
/* HERO SECTION */
/****************************/

/* .hero {
  height: 100vh;
  background-image: linear-gradient(
      rgba(12, 22, 23, 0.9),
      rgba(60, 110, 113, 0.5)
    ),
    url(img/hero.jpg);
  background-size: cover;
  color: #fff;
  filter: blur(100%);
} */

/****************************/
/* ABOUT SECTION */
/****************************/
.section-about {
  /* background-color: #f7f7f7; */
  padding: 4.8rem 0 9.6rem 0;
}

.about-grid {
  display: grid;
  grid-template-columns: 4fr 3fr;
  /* justify-content: center; */
  column-gap: 4.4rem;
  padding: 0;
  margin: 0;
}

.about-text {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.about-text:first-child {
  font-weight: 600;
}

.about-img-grid {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
  /* padding: 1.6rem; */
}

.about-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-icon {
  display: inline-block;
  color: #507d7f;
  background-color: #fff;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  border: 0.2rem solid #507d7f;
  padding: 1rem;
  z-index: 1;
}

.about-title {
  display: grid;
  grid-template-columns: 5rem auto;
  gap: 1.6rem;
  justify-content: left;
  align-items: center;
  margin-bottom: 2rem;
}

.information {
  grid-column: 1 / -1;
}

.about-title h2 {
  margin: 0;
  padding: 0;
}

/****************************/
/* EDUCATION SECTION */
/****************************/
.section-education {
  background-color: #ecf1f1;
  padding: 4.8rem 0 9.6rem 0;
}

.timeline-grid {
  padding: 4.8rem 9.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.8rem;
  row-gap: 4.4rem;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 6rem;
}

.timeline-line {
  content: "";
  height: 100%;
  width: 0.2rem;
  background-color: #507d7f;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(0, -50%);
}

.education-icon {
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  position: absolute;

  color: #507d7f;
  background-color: #fff;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  border: 0.2rem solid #507d7f;
  padding: 1rem;
  z-index: 1;
}

.education-icon-checked,
.education-icon-unchecked {
  top: 50%;
  right: 0%;
  transform: translate(142%, -50%);
  position: absolute;

  background-color: #fff;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  padding: 0.4rem;
  z-index: 1;
}

.education-icon-checked {
  color: #507d7f;
  border: 0.2rem solid #507d7f;
}

.education-icon-unchecked {
  color: rgb(212, 212, 212);
  border: 0.2rem solid #aaa;
}

.education-info-box {
  font-size: 1.4rem;
  line-height: 1.6;
  position: relative;
}
.education-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.education-description-box {
  /* padding: 3.2rem 2.4rem; */
  font-size: 1.4rem;
  line-height: 1.6;
  position: relative;
}

/****************************/
/* COURSE WORK SECTION */
/****************************/
.section-course-work {
  background-color: #fff;
  padding: 4.8rem 0 9.6rem 0;
}

.course-work {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
}
