/* #749479 #42926d 

alternative: #44bba4

Primary: */

:root {
  /* --color: #3c6e71; */
  --primary-color: #83d0cb;
  --secondary-color: #135277;
  --grey-primary-color: #3d3d44;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  line-height: 1;
  font-size: 1.8rem;
  color: #555;
}

.heading-primary {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.1rem 0.1rem 0.1rem #000;
  font-weight: 500;
}

.heading-primary::after {
  content: "_";
  font-weight: 700;
  color: black;
  text-shadow: 0.1rem 0.1rem 0.1rem #fff;
  animation: blink 1s step-start 2.5s infinite;
}


.heading-secondary {
  color: var(--secondary-color);
  text-shadow: 0.1rem 0.1rem 0.1rem #135277;
  font-size: 4rem;
  margin-bottom: 2rem;
  transition: fade 0.3s;
}

.underscore {
  content: "_";
  font-weight: 700;
  font-size: 4rem;
  color: black;
  text-shadow: 0.1rem 0.1rem 0.1rem #fff;
  transition: ease-out 0.01s linear 2s;
  animation: blink 1s step-start 1.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.margin-top-sm {
  margin-top: 1.2rem;
}

.icon-small {
  height: 2rem;
  width: 2rem;
}

.icon-big {
  /* color: var(--secondary-color); */
  color: var(--primary-color);
  background-color: #fff;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  border: 0.2rem solid var(--primary-color);
  padding: 1rem;
  z-index: 1;
}

.information {
  color: #666;
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
  justify-content: left;
  align-items: center;
}

.header {
  padding: 3.2rem 3.2rem 9.6rem 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    150deg,
    rgba(19, 82, 119, 0.8),
    rgba(131, 208, 203, 0.8)
  );
  background-size: cover;
}

.presentation {
  margin-top: 10rem;
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav-links {
  display: flex;
  gap: 3.2rem;
  letter-spacing: 0;
  list-style: none;
}

.main-nav-links a:link,
.main-nav-links a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.4s;
}

.main-nav-links a:hover,
.main-nav-links a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.2rem;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/****************************/
/* HERO SECTION */
/****************************/

/* .hero {
  height: 100vh;
  background-image: linear-gradient(
      rgba(12, 22, 23, 0.9),
      rgba(60, 110, 113, 0.5)
    ),
    url(img/hero.jpg);
  background-size: cover;
  color: #fff;
  filter: blur(100%);
} */

/****************************/
/* ABOUT SECTION */
/****************************/
.section-about {
  /* background-color: #f7f7f7; */
  padding: 8.8rem 0 8.8rem 0;
}

.about-grid {
  display: grid;
  grid-template-columns: 4fr 3fr;
  /* justify-content: center; */
  column-gap: 4.4rem;
  padding: 0;
  margin: 0;
  transition: transform 1s, opacity 1s;
}

.about-text {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.about-text:first-child {
  font-weight: 600;
}

.about-img-grid {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
  /* padding: 1.6rem; */
}

.about-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.about-icon {
  display: inline-block;
  color: var(--secondary-color);
  background-color: #fff;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  border: 0.2rem solid var(--secondary-color);
  padding: 1rem;
  z-index: 1;
}

.about-title {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 2rem;
}

.information {
  grid-column: 1 / -1;
}

.about-title h2 {
  margin: 0;
  padding: 0;
}

/****************************/
/* EDUCATION SECTION */
/****************************/
.section-education {
  background-color: #fff;
  padding: 8.8rem 0 8.8rem 0;
}

.education-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.timeline-grid {
  padding: 4.8rem 9.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.8rem;
  row-gap: 4.4rem;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 6rem;
  transition: transform 1s, opacity 1s;
}

.timeline-line {
  content: "";
  height: 100%;
  width: 0.2rem;
  background-color: var(--secondary-color);

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(0, -50%);
}

.education-icon {
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  position: absolute;
}

.education-icon-checked,
.education-icon-unchecked {
  top: 50%;
  right: 0%;
  transform: translate(142%, -50%);
  position: absolute;

  background-color: #fff;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  padding: 0.4rem;
  z-index: 1;
}

.education-icon-checked {
  color: var(--secondary-color);
  border: 0.2rem solid var(--secondary-color);
}

.education-icon-unchecked {
  color: rgb(212, 212, 212);
  border: 0.2rem solid #aaa;
}

.education-info-box {
  font-size: 1.4rem;
  line-height: 1.6;
  position: relative;
}
.education-titles {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.education-description-box {
  /* padding: 3.2rem 2.4rem; */
  font-size: 1.4rem;
  line-height: 1.6;
  position: relative;
}

/****************************/
/* COURSE WORK SECTION */
/****************************/
.section-course-work {
  background-color: #fff;
  padding: 8.8rem 0 8.8rem 0;
}

.course-work-title {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 2rem;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  transition: transform 1s, opacity 1s;
}

.course-work {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
}

.hidden {
  opacity: 0;
  transform: translateY(8rem);
}
