@media (min-width: 93em) {
  .section-about{
    padding-top: 37%;
  }
}

/*
*********1280px - laptop screens
*/
@media (max-width: 80em) {
  html {
    font-size: 56.25%;
    overflow-x: hidden;
  }

  .section-about {
    padding: 20% 4.6rem 9.6rem 9.6rem;
  }

  .about-presentation-grid {
    margin: 15rem 0;
  }

  .about-life {
    padding-right: 0;
  }

  .section-about .heading-tertiary:not(:first-child) {
    margin-top: 3.8rem;
  }

  .about-bg {
   left: -15%; 
  }

  .course-work-bg {
    content: url(bg-course-work.svg);
  }
}

/*
*********992px - small laptop screens
*/
@media (max-width: 62em) {
  html {
    font-size: 50%;
  }

  .section-about {
    padding-top: 5rem;
  }

  .about-life {
    padding-top: 21%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
  }

  .about-bg {
    /* left: -5%; */
    width: 130%;
  }

  .section-about .heading-tertiary {
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
  }

  .section-education {
    padding-top: 20rem;
  }

  .courses {
    gap: 4rem;
  }
}

/*
*********  808px - tablet screens
*/
@media (max-width: 51em) {

  body, html {
    overflow-x: hidden;
  }

  .heading-primary {
    top: 30%;
  }

  .heading-primary--main {
    font-size: 3.2rem;
  }
  
  .heading-primary--sub {
    font-size: 1.4rem;
  }

  .header-bg {
    width: 130%;
  }

  .section-about {
    padding: 8rem 2rem 0 2rem;
  }

  .about-presentation-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  .about-presentation {
    grid-column: 1 / -1;
    margin-bottom: 10rem;
  }

  .about-life {
    padding-right: 0;
    padding-top: 17%;
    display:flex;
    flex-direction: column-reverse;
    /* gap: 100rem; */
  }

  .about-life-text {
    padding-top: 8rem;
  }

  .about-img {
    width: 30%;
  }
  .about-img-grid {
    flex-direction: row;
    margin-top: 20%;
  }

  .about-bg {
    width: 113rem;
    content: url(bg-about-life-mob.svg);
  }
  
  .section-education {
    padding-top: 60%;
  }

  .timeline-grid {
    padding: 7.2rem 2rem;
  }

  .section-course-work {
    padding: 9% 2rem;
  }

  .course-work-bg {
    top: -3%;
    width: auto;
    height: 130%;
  }
}